[submodule "plugins/llm-wiki"]
	path = plugins/llm-wiki
	url = https://github.com/ivankuznetsov/llm-wiki.git
[submodule "plugins/screenote"]
	path = plugins/screenote
	url = https://github.com/ivankuznetsov/screenote-skills.git
